.root {
    -fx-background-color: #f5f7fa;
}

.title {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

.text-field {
    -fx-pref-width: 250px;
    -fx-pref-height: 35px;

    -fx-background-radius: 10;
    -fx-font-size: 14px;
}

.connect-button {
    -fx-background-color: #4a90e2;
    -fx-text-fill: white;

    -fx-font-size: 14px;
    -fx-font-weight: bold;

    -fx-background-radius: 10;

    -fx-pref-width: 150px;
    -fx-pref-height: 35px;
}

.left-panel {
    -fx-background-color: #f0f2f5;
    -fx-padding: 10;
}

.chat-header {
    -fx-padding: 10;
    -fx-background-color: #ffffff;
    -fx-border-color: #dddddd;
}

.chat-name {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.chat-username {
    -fx-font-size: 12px;
    -fx-text-fill: gray;
}

.list-view {
    -fx-background-radius: 10;
}